        body { 
            background-color: #e6f2fb;
        } 
        
        .menu-lateral { 
            background-color: #0b2247;
            min-height: 100vh;
            width: 250px; 
        }
        
        .item-menu { 
            color: #8fa6ca; 
            text-decoration: none; 
            padding: 15px 20px; 
            display: block; 
            border-bottom: 1px solid #143160; 
        }
        
        .item-ativo { 
            color: white; 
            font-weight: bold; 
            border-left: 4px solid white;
        }
        
        .caixa-branca { 
            background: white; 
            border-radius: 12px; 
            box-shadow: 0 4px 10px rgba(0,0,0,0.05);
            width: 100%; 
            max-width: 650px; 
        }
        
        .texto-azul { color: #1c3c78; font-weight: 600; }
        
        .input-azulzinho { 
            background-color: #e8f0f8; 
            border: 1px solid #b3c6df; 
            color: #4a6b9c; 
        }